<div class='modal-data-second'>

  <img class='modal-img-second' src='{{images.3.url}}' alt='{{name}}' />

  <div class='modal-hero'>
    <img class='modal-img-first' src='{{images.2.url}}' alt='{{name}}' />
    <div class='modal-description'>
      <h1 class='modal-title'>INFO</h1>
      <p class='modal-text'>
        {{#if info}}
        {{info}}
      {{else}}
        {{name}}
      {{/if}}
      </p>
      <h2 class='modal-title'>WHEN</h2>
      <p class='modal-text'>
        {{dates.start.localDate}}
        <br />
        <span
          class='modal-text-first'
        >{{dates.start.localTime}}({{_embedded.venues.0.city.name}}/{{_embedded.venues.0.country.countryCode}})</span>
      </p>
      <h2 class='modal-title'>WHERE</h2>
      {{!-- <p class='modal-text'>{{_embedded.venues.city.name}}, {{_embedded.venues.country.name}}</p> --}}
      {{!-- {{#if _embedded.venues.0.name}} --}}
      <p class='modal-text'>{{_embedded.venues.0.city.name}},
        {{_embedded.venues.0.country.name}}</p>
      {{!-- {{else}} --}}
      {{!-- <p class='modal-text'>{{_embedded.venues.0.address.line1}}</p> --}}
      <p class='modal-text'>{{_embedded.venues.0.name}}</p>
      {{!-- {{/if}} --}}
      <p class='modal-text'></p>
      <h2 class='modal-title'>WHO</h2>
      <p class='modal-text'>
        {{name}}
      </p>
      <h2 class='modal-title'>PRICES</h2>
      <p class='modal-text'>
        <svg class='icon-ticket'>
          <use href='/images/symbol-defs.svg#ticket1'></use>
        </svg>
        {{priceRanges.0.type}}
        {{priceRanges.0.min}}-{{priceRanges.0.max}}
        {{priceRanges.0.currency}}
      </p>
      <a href='#'>
        <button class='modal-btn buy-standart'>BUY TICKETS</button></a>
      <p class='modal-text'>
        {{!-- <svg class='icon-ticket'>
          <use href='/images/symbol-defs.svg#ticket1'></use>
        </svg>
        VIP1000-1500 UAH
    
      <a href='{{url}}'>
        <button class='modal-btn buy-vip'>BUY TICKETS</button></a> --}}
      </p>
        <button class='modal-btn buy-standart basket'>ADD TO FAVORITE</button>
    </div>
  </div>
  <a href='{{url}}'><button class='modal-btn-more btn'>
      <span class='style-search'>MORE FROM THIS AUTHOR</span></button></a>
</div>