{{#each this}}
  <li class='event-card'>
    <img class='card-image' src={{images.2.url}} alt={{name}} data-image={{images.9.url}} width='180' />
    <div class="align">
      <p class='card-title'>{{name}}</p>
      <p class='event-date'>{{dates.start.localDate}}</p>
      <p class='event-location'>{{_embedded.venues.0.name}}</p>
    </div>
  </li>
{{/each}}
